@page
@*@using Web_Assignment_2_To_Dos*@
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*<form>
    @foreach (var entry in Model.To_DoLog)
    {
        <partial name="_To_DoInput" model ="@entry" />
    }
    <input type="submit" name="Submit" />
</form>*@

<form asp-page="./Index" method="post">
    <label asp-for="To_do.Done">Done? </label><input asp-for="To_do.Done"/>
    <label asp-for="To_do.To_DoItem">To_DoItem: </label><input asp-for="To_do.To_DoItem"/>
    <label asp-for="To_do.EntryDate">EntryDate: </label><input asp-for="To_do.EntryDate" />
    <input type="submit" name="Submit" />
</form>

